[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
matplotlib = "==3.2.0"
seaborn = "==0.10.0"
jupyterlab = "==2.0.1"
sphinx = "==3.0.0"
unet = {editable = true,path = "."}
tensorflow-datasets = ">=2.1.0"

[packages]
tensorflow = ">=2.3.0"
numpy = ">=1.18.1"

[requires]
python_version = "3.7"
